<div
  id="rectangle"
  #mydrag
  [ngDraggable]="true"
  inBounds="true"
  [bounds]="bound"
  (endOffset)="onMoveEnd($event)"
  (movingOffset)="onMoving($event)"
  (started)="onDragStart($event)"
  (stopped)="onDragStop($event)"
  ngResizable
  rzHandles="n,w,e,s,se"
  rzMinWidth="10"
  rzMinHeight="10"
  [rzAspectRatio]="setting.type == 'checkbox'"
  [style.width.px]="setting.width"
  [style.height.px]="setting.height"
  rzAspectRatio="true"
  (rzStop)="onResizeStop($event)"
  (rzResizing)="onResizing($event)"
  [position]="{ x: setting.llx, y: setting.lly }"
>
  <div *ngIf="!isMoving" id="tool-tip">
    <div class="tooltip-icon">
      <i
        nz-icon
        style="font-size: 16px"
        nzType="close-circle"
        (mousedown)="remove()"
        nzTheme="outline"
      ></i>
    </div>
  </div>
  <div *ngIf="isMoving" id="top-ruler" class="ruler"></div>
  <div *ngIf="isMoving" id="right-ruler" class="ruler"></div>
  <div *ngIf="isMoving" id="bottom-ruler" class="ruler"></div>
  <div *ngIf="isMoving" id="left-ruler" class="ruler"></div>
  <input
    id="text-input"
    [style.background-color]="BackgroundColor"
    [style.color]="setting.fontColor"
    [style.font-size.px]="setting.fontSize"
    [style.font-family]="setting.fontName"
    [style.font-style]="setting.fontWeight"
    [type]="setting.type"
    [(ngModel)]="setting.value"
    (blur)="onTextBlur()"
    [ngModelOptions]="{ standalone: true }"
  />
</div>
